body{
    background-color: #212121;
   
    
}
.container-fluid{
    width: 370px;
    height: 750px;
    background: #333333;
    
}

h1{
   
    font-size: 18px; 
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif !important;

    
}
h2{
    font-family: 'Montserrat', sans-serif !important;
    margin-top: -12px;
    font-size: 23px;
    text-align: center;
    color: white;
}

.logo{
    margin-top: 70px;
    height: 100px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.btn-warning{
    font-family: 'Montserrat', sans-serif !important;
    background-color: #f39c34;
    border-color: #f39c34;
    font-size: 16px;
    color: #F8F8FF;
    vertical-align: top;
    
}
.btn-warning:hover{
    background-color: #f0a953;
    border-color: #f0a953;
    
}
.col-4{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto;
}

.form-group{
    margin: 3px auto;
}
.form-btn-entrar{
    margin-left: 15px auto;
}

.col-4-sm{
    margin-top: 20px;
}

html {
    
    margin: 2px auto;
    text-align: center;
  }

.row{
    display: flex;
    margin-right: 0 !important;
    margin-left:  0  !important;
}

.btn-primary{
    font-family: 'Montserrat', sans-serif !important;
    background-color: #f39c34;
    border-color: #f39c34;
    font-size: 16px;
    color: #F8F8FF;
    width: 333px;
    height: 32px;
}

.btn-facebook{
    width: 170px;
    font-size: 14px
    
}
.btn-google{
    width: 170px;
    font-size: 14px;
    
}

.linha{
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.linha-cad{
    margin-top: 40px;
}
.linha-forgot{
    margin-top: 05px auto;
}
.forgot{
    font-size: 12px;
    font-weight: bold;
}
a{
    color:#1E90FF ;
}

.column-btn-google{
    margin-left: -10px;
    color: white;
}
.column-btn-facebook{
    margin-left: 5px;
    color:white;
}
.btnlogin{
    margin-left: 15px;
    margin-top: 5px;
    height: 70px;
    width: 75px;
}

body { padding: 2em; }


/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}