html{
    font-family: 'Montserrat', sans-serif;
    color: white;

}
.content{
    min-width: auto;
}
.logo{
    height: 30%;
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
body{
    background-color:gray;
}
h1{
    font-size: 30px; 
    text-align: center;
    color: white;

    
}
h2{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.container{
    border: 1px;
    height: 650px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
.form-group{
    text-align: center; 
}
.btn_cad{
 margin-right: 115px;
 border-bottom-style: solid;

}
.form-cadastro{
    margin-top: 40px;
}