body{
    background-color: #212121;
    font-family: 'Montserrat', sans-serif !important;
    height: 100%;
    width: 100%;
    
}
html{
    height: 100%;
    width: 100%;


}

.contentbox{
    width: 50%;
    height: 100%;
    background: #333333;
    margin: 0px auto;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    
}